<div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">标题</span>
                <input type="text" class="form-control" data-ng-model="activity.title"
                       placeholder="Prepend"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div xcheckbox class="col-lg-2"
             target="activity.is_final" title="终测题">
        </div>
        <div xcheckbox class="col-lg-2"
             target="activity.randomize_problems" title="随机题目">
        </div>
        <div xcheckbox class="col-lg-2"
             target="activity.randomize_choices" title="随机选项">
        </div>
        <div xcheckbox class="col-lg-2"
             target="activity.show_answer" title="显示答案">
        </div>
    </div>
    <div class="row mvs">
        <div class="col-lg-3">
            <div class="btn btn-primary btn-embossed btn-block"
                 ng-disabled="(saveButtonState.state!='save')"
                 data-ng-click="saveActivity(activity)">
                {{saveButtonState.title}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <span data-ng-repeat="type in utils.allProblemTypes">
                <button class="btn btn-primary btn-embossed btn-sm"
                        data-ng-click="createProblem(type.type)">
                    添加{{type.title}}
                </button>
            </span>
        </div>
    </div>

    <div class="row problems-strip"
         data-ng-controller="ProblemController"
         data-ng-init="init()"
         data-ng-repeat="problem in activity.problems">
        <hr>
        <div class="col-lg-6">
            <h5>
                {{$index+1}}. {{utils.getProblemType(problem.type).title}}
            </h5>

            <div class="mvs" xproblem-editor></div>
        </div>
        <div class="col-lg-6">
            <span class="label label-default">
                预览
            </span>

            <div class="mvs" xproblem-preview></div>
        </div>
    </div>
</div>